<ion-header><ion-toolbar><ion-title>Redefinir senha</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding"><form (ngSubmit)="enviarLink()" #form="ngForm" class="form-container">
  <ion-item><ion-input label="E-mail cadastrado" labelPlacement="stacked" type="email" autocomplete="email" [(ngModel)]="email" name="email" required email [disabled]="loading"></ion-input></ion-item>
  <p *ngIf="mensagem" [attr.role]="sucesso ? 'status' : 'alert'" [class.mensagem-erro]="!sucesso">{{ mensagem }}</p>
  <div class="button-container"><ion-button type="submit" [disabled]="loading || form.invalid">{{ loading ? 'Enviando…' : 'Enviar link de redefinição' }}</ion-button><ion-button fill="clear" routerLink="/home">Voltar</ion-button></div>
</form></ion-content>
