<ion-header>
  <ion-toolbar>
    <ion-title>Frases - Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let frase of frases">
        <ion-card (click)="falar(frase.texto)">
          <ion-card-content>
            {{ frase.texto }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
        <div class="button-container">
      <ion-button routerLink="/inicial">Voltar</ion-button>
    </div>
  </ion-grid>
</ion-content>
