:host {
  --cor-fundo: #F5F0E6;
  --cor-texto: #6E4B3A;
  --cor-input: #EBD9B4;
  --cor-primaria: #D7A86E;
  --cor-secundaria: #A3A380;
}

ion-content {
  background-color: var(--cor-fundo);
}

ion-toolbar {
  --background: var(--cor-primaria);
  --color: white;
}

ion-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

ion-item {
  --background: var(--cor-input);
  --color: var(--cor-texto);
  border-radius: 12px;
  margin-bottom: 1rem;
}

ion-label {
  color: var(--cor-texto);
  font-weight: 500;
}

ion-input {
  --color: var(--cor-texto);
}

ion-icon {
  color: var(--cor-texto);
}

ion-button[color="primary"] {
  --background: var(--cor-primaria);
  --color: white;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 12px;
}

ion-button {
  margin-top: 0.5rem;
  --background: var(--cor-secundaria);
  --color: white;
  font-weight: 500;
  border-radius: 12px;
}
