ion-card { text-align: center; height: calc(100% - 12px); padding: 16px 8px; }
ion-img { width: 100%; height: 130px; object-fit: contain; margin-bottom: 12px; }
ion-card-content { font-size: 1rem; font-weight: 600; overflow-wrap: anywhere; padding: 8px; }
