<ion-header><ion-toolbar><ion-buttons slot="start"><ion-back-button defaultHref="/home" text="Voltar"></ion-back-button></ion-buttons><ion-title>Criar conta</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="cadastrar()" #form="ngForm" class="form-container">
    <ion-item><ion-input label="Nome completo" labelPlacement="stacked" autocomplete="name" [(ngModel)]="nomeCompleto" name="nome" required [disabled]="loading"></ion-input></ion-item>
    <ion-item><ion-input label="Telefone" labelPlacement="stacked" type="tel" autocomplete="tel" [(ngModel)]="telefone" name="telefone" required [disabled]="loading"></ion-input></ion-item>
    <ion-item><ion-input label="E-mail" labelPlacement="stacked" type="email" autocomplete="email" [(ngModel)]="email" name="email" required email [disabled]="loading || contaCriada"></ion-input></ion-item>
    <ion-item *ngIf="!contaCriada"><ion-input label="Senha (mínimo 6 caracteres)" labelPlacement="stacked" type="password" autocomplete="new-password" [(ngModel)]="senha" name="senha" required minlength="6" [disabled]="loading"></ion-input></ion-item>
    <p *ngIf="mensagem" role="alert" class="mensagem-erro">{{ mensagem }}</p>
    <div class="button-container"><ion-button type="submit" [disabled]="loading || form.invalid">{{ loading ? 'Salvando…' : (contaCriada ? 'Tentar salvar perfil' : 'Cadastrar') }}</ion-button><ion-button fill="clear" routerLink="/home">Voltar ao login</ion-button></div>
  </form>
</ion-content>
