<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg">
  <ion-list>
<ion-item>
  <ion-label for="nomeCompleto" position="floating">Nome completo</ion-label>
  <ion-input id="nomeCompleto" type="text" [(ngModel)]="nomeCompleto" required></ion-input>
</ion-item>

<ion-item>
  <ion-label for="telefone" position="floating">Telefone</ion-label>
  <ion-input id="telefone" type="tel" [(ngModel)]="telefone" required></ion-input>
</ion-item>

<ion-item>
  <ion-label for="email" position="floating">Email</ion-label>
  <ion-input id="email" type="email" [(ngModel)]="email" required></ion-input>
</ion-item>

<ion-item>
  <ion-label for="senha" position="floating">Senha</ion-label>
  <ion-input id="senha" type="password" [(ngModel)]="senha" required></ion-input>
</ion-item>

<ion-item>
  <ion-label for="confirmarSenha" position="floating">Confirmar senha</ion-label>
  <ion-input id="confirmarSenha" type="password" [(ngModel)]="confirmarSenha" required></ion-input>
</ion-item>

  </ion-list>

  <ion-button expand="block" shape="round" (click)="cadastrar()">
    Cadastrar
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/home">
    Voltar
  </ion-button>
</ion-content>
