<ion-header>
  <ion-toolbar>
    <ion-title>Necessidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let necessidades of frases">
        <ion-card (click)="falar(necessidades.texto)">
          <img [src]="necessidades.icon" alt="{{ necessidades.texto }}" />
          <ion-card-content class="ion-text-center">
            {{ necessidades.texto }}
            <ion-button
              size="small"
              fill="clear"
              color="warning"
              slot="end"
              (click)="favoritar(necessidades.texto); $event.stopPropagation()"
            >
            <ion-icon name="star-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      <div class="button-container">
        <ion-button routerLink="/inicial">Voltar</ion-button>
      <ion-button routerLink="/favoritos">
        <ion-icon name="star" slot="start"></ion-icon>
        Favoritos
      </ion-button>
      </div>
  </ion-grid>
</ion-content>
